body{
  font-size: 16px;
  color: #fff; /*white*/
  background-color: #61122f; /*maroon*/
  font-family: 'Oxygen', sans-serif;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 2px solid #000 ;
}

/*HEADER*/
#header-nav{
  background-color: #f6b319; /*yellowish orange*/
  border-radius: 0;
  border: 0;
}

/*affects the positioning of words "FOOD, LLC"*/
.navbar-brand{
  margin-top: 10px;
  padding-top: 10px;
}

.navbar-brand h1 { /* Restaurant name Food, LLC*/
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: left;
}


.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;  
}

#nav-list{
  border: 1px solid;
}
#nav-list: nth-child(3){
  border-bottom: 0;
}


#nav-list li{
  background: #000; /*background of dropdown list is black*/
  border-bottom: 2px solid;

}

#nav-list li: nth-child(3){
  border-bottom:0;
}
/*the actual names in the drop down list chicken, beef, sushi*/
#nav-list li a{
  color: #fff; /*white*/
  font-weight: 600;
  line-height: 8px
}
.menu{
  margin: 20px; 
}

/*pushes down the menu items*/
.menu-content{ 
  margin-top: 50px;
}
.menu-title{
  font-weight: bold;
  margin-top: -5px;
}

/*affects the background colour of each menu item, ie chicken*/
.menu-item{
  margin-bottom: 20px;
  background:  #f6b319;  /*yellowish*/
  padding: 10px;
}
.menu-item h4 {
  font-weight: bold;
  color: blue;
}

.menu-item p{
  font-weight: 600;
  font-size: .9em;
  padding: 10px 10px;
  color: blue;
}

/*affects the layout of the food items in mobile view*/
@media (max-width: 767px) {
  .navbar-brand: focus, .navbar-brand{
    margin-left: 20px;
  }
  .menu{
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 15px;
  }
  .menu-item p{
    font-weight: 500;
    font-size: 1em;
    padding: 10px 10px;
  }
}